@import './helpers';
@import './reset.css';
/* stylelint-disable-next-line scss/at-import-no-partial-leading-underscore */
@import 'include-media/dist/_include-media';

:root {
  --font: -apple-system, blinkmacsystemfont, segoe ui, roboto, oxygen, ubuntu,
    cantarell, fira sans, droid sans, helvetica neue, sans-serif;
  --inspect-color: #f00;
  --color-black: #000;
  --color-white: #fff;
  --color-gray: #0f0f0f;
  --color-gray-lighter: #262626;
  --padding: 20pt;
}

html {
  line-height: 1.5;
  box-sizing: border-box;
  text-rendering: geometricprecision;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-white);
}

body {
  background-color: var(--color-white);
  font-family: 'Circular Std', var(--font);
  font-weight: 200;
  transition: opacity #{$duration / 3 + 's'} ease-in;
  margin: var(--padding);
}

body > *.no-margin {
  margin: calc(var(--padding) * -1);
}

body > *.director-font {
  font-family: Director, var(--font);
  letter-spacing: -2px;
}

h1,
h2,
h3 {
  font-family: Director, var(--font);
}

h1 {
  font-size: 4rem;
  letter-spacing: -8.5px;
}

h2 {
  font-size: 2rem;
  letter-spacing: -4px;
}

h3 {
  font-size: 1rem;
  letter-spacing: -3px;
}

body.inspect * {
  outline: 1px solid var(--inspect-color) !important;
}

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}

// used in use-prevents-scroll hook

html.no-scroll {
  overflow: hidden;

  body {
    overflow: hidden;
    touch-action: none;
  }
}

// WARNING: if you don't want to use a fade in for the body, you can remove
// this chunk of CSS. But ALSO make sure you remove the style tag in the body in _document.tsx
// and the transition property on the body as well. thx.
// If you're using the next app dir make sure you remove the style tag in the root layout too.
html.fonts-loaded body {
  opacity: 1 !important;
}
// end warning

// .container {
//   padding-inline: var(--padding);
//   padding-block: calc(var(--padding) / 2);
// }

main {
  display: flex;
  flex-direction: column;
  gap: 100pt;
  margin-bottom: calc(var(--padding) * 2);
}

.container.section {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: var(--padding);
}

.container.section.center {
  display: grid;
  grid-template-columns: 0.1fr minmax(0, 1fr) 0.1fr;
  justify-content: center;
  align-items: center;
  text-align: center;

  .center-item {
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
    gap: calc(var(--padding) / 2);
  }
}

.container.section.invert {
  background-color: var(--color-black);
  color: var(--color-white);
  margin: calc(var(--padding) * -1);
  padding-block: calc(var(--padding) * 4);
}

// hero
.hero {
  width: 100%;
  height: 100vh;
}

// navbar
.navbar {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  justify-content: center;
  align-items: center;
  background-color: rgb(0 0 0 / 0.8);
  backdrop-filter: blur(30px);
  margin: calc(var(--padding) * -1);
  padding-inline: var(--padding);
  padding-block: calc(var(--padding) / 2);
  position: sticky;
  top: 0;
  color: var(--color-white);

  .logo {
    width: 100px;
    grid-column: span 2;
  }
}

.gpw-image {
  img {
    object-fit: contain;
    width: 100%;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15pt;

  .logo {
    width: 200px;
  }

  .copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .sarga {
      opacity: 0.5;
      font-size: 8pt;
    }
  }
}
